* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background: #fafafa;
    font-family: Arial, Helvetica, sans-serif;
    /* font: 14px;  dont work? */
    -webkit-font-smoothing: antialiased !important;
}